.feedback {
	border: solid black;
	position: relative;
}

.body-day {
	display: inline-block;
	border: solid black;
	position: relative;
}

.body-day-date {
	position: absolute;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.body-day-events-container {
	position: absolute;
}

.body-day-event {
	border: none;
}

.body-day-event-time {
	font-weight: bold;
}

.body-day-event-text {
	font-style: normal;
}