.feedback {
	border: 0.1mm solid black;
}

.body-day {
	display: inline-block;
	border: 0.1mm solid black;
	position: relative;
}

.body-day-date {
	position: absolute;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}