.hamburger-menu {
    display: none;
}

.hamburger-menu {
    border:1px solid black;
    /* min-height: 40px; */
    margin: 0.4em 0.4em 0.4em;
}

.hamburger-menu input {
    display: block;
    width: calc(100% - 10px);
    margin: 5px;
}
