.manage-calendars input {
    display: block;
}

input.close-manage-calendars {
    display: inline-block;
}

.manage-calendars-list {
    display: inline-block;
    vertical-align: top;
}

.manage-calendars-detail {
    display: none;
    vertical-align: top;
}

#mode-options.show-manage-detail .manage-calendars-detail {
    display: inline-block;
}
