/* Pixel8 Pro hardware is 1344x2992 (20:9) at 489ppi  */
/* Reports 448x844x2.25 in portrait */
/*  and    900x364x2.25 in landscape */

/* Nokia N20 reports 432x816 and 872x352 */
/* These are all losing some space (in different places) to notifications, address bar, buttons */

/* So, we want break at 900px with 96dpi, or 1530 at 170dpi or 2000 at 210dpi */
@media (max-width: 900px) {
    #feedback {
        pointer-events: all;
    }

    .controls .hamburger-button {
        display: inline-block;
        position: absolute;
        width: 5%;
        top: 0;
        bottom: 0;
        padding: 0 0.2em;
    }

    #mode-controller.standard-mode .controls .profile-button {
        display: none;
    }

    #mode-controller #mode-options.show-hamburger .control-panel,
    #mode-controller #mode-options.show-hamburger .feedback {
        display: none;
    }

    #mode-controller #mode-options.show-hamburger .hamburger-padding,
    #mode-controller #mode-options.show-hamburger .hamburger-menu {
        display: block;
    }

    #mode-controller #mode-options.show-hamburger #signed-in-controller.signed-out #hamburger-sign-in {
        display: block;
    }
    
    #mode-controller #mode-options.show-hamburger #signed-in-controller.signed-in #hamburger-sign-in {
        display: none;
    }
    
    #mode-controller #mode-options.show-hamburger #signed-in-controller.signed-out #hamburger-sign-out {
        display: none;
    }
    
    #mode-controller #mode-options.show-hamburger #signed-in-controller.signed-in #hamburger-sign-out {
        display: block;
    }

    #mode-controller.choose-dates .hamburger-button {
        display: none;
    }

    #mode-controller.choose-dates .controls,
    #mode-controller.choose-dates .hamburger-controls-apply {
        display: block;
    }

    #mode-controller.select-calendars .controls,
    #mode-controller.select-calendars .options-drawer,
    #mode-controller.select-calendars .user-profile,
    #mode-controller.select-calendars .available-calendars
    {
        display: block;
    }

    #mode-controller.select-calendars .user-profile-buttons,
    #mode-controller.select-calendars .calendar-categories,
    #mode-controller.select-calendars .saved-plans,
    #mode-controller.select-calendars .controls
    {
        display: none;
    }

    #mode-controller.configure-categories .controls,
    #mode-controller.configure-categories .options-drawer,
    #mode-controller.configure-categories .user-profile,
    #mode-controller.configure-categories .calendar-categories
    {
        display: block;
    }

    #mode-controller.configure-categories .user-profile-buttons,
    #mode-controller.configure-categories .available-calendars,
    #mode-controller.configure-categories .saved-plans,
    #mode-controller.configure-categories .controls
    {
        display: none;
    }



    #mode-controller.choose-dates .control-panel
    {
        left: 5%;
        width: 90%;
        font-size: 12px;
    }

    #mode-controller.standard-mode .controls {
        display: none;
    }

    .controls .hamburger-button {
        display: none;
    }

    .hamburger-button .hamburger-text {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding-top: calc(100% - 1em);
    }

    .hide-options-in-general-on-narrow {
        display: none;
    }

    .basic-controls .start-date, .basic-controls .end-date,
    .basic-controls .first-day, .basic-controls .show-in-time-zone,
    .print-controls .shade-weekends, .print-controls .page-size, .print-controls .landscape
    {
        display: none;
    }

    #mode-controller.choose-dates .controls .basic-controls .start-date,
    #mode-controller.choose-dates .controls .basic-controls .end-date,
    #mode-controller.choose-dates .basic-controls .first-day,
    #mode-controller.choose-dates .basic-controls .show-in-time-zone, 
    #mode-controller.choose-dates .print-controls .shade-weekends
    {
        display: block;
        font-size: 16px;
        padding: 0.3em 0 0.3em 0;
        width: auto;
    }

    #mode-controller.choose-dates .basic-controls .start-date input,
    #mode-controller.choose-dates .basic-controls .end-date input,
    #mode-controller.choose-dates .basic-controls .first-day select,
    #mode-controller.choose-dates .basic-controls .show-in-time-zone select, 
    #mode-controller.choose-dates .print-controls .shade-weekends select
    {
        display: block;
        font-size: 13px;
        padding: 0.3em 0 0.3em 0;
        width: auto;
    }

    #mode-options.show-profile #signed-in-controller.signed-in .options-drawer,
    #mode-options.show-profile.show-user-profile #signed-in-controller.signed-in .user-profile,
    #mode-options.show-profile.show-manage-calendars #signed-in-controller.signed-in .manage-calendars
    {   
        display: none;
    }

    .controls input#hamburger-controls-apply-button {
        font-size: 16px;
    }

    .options-drawer .sign-in-panel {
        font-size: 50%;
    }
    label.sign-in-label {
        min-width: 5em;
    }

    .user-profile .drop-for-upload, .user-profile .available-calendars, .user-profile .calendar-categories {
        display: none;
    }

    .user-profile .saved-plans {
        display: block;
        border: none;
    }

    .user-profile .saved-plans div.saved-plans-title {
        display: none;
    }

    .user-profile .user-profile-buttons {
        display: block;
    }
}
