#mode-controller #mode-options .controls, 
#mode-controller #mode-options #signed-in-controller .options-drawer,
#mode-controller #mode-options #signed-in-controller .hamburger-menu
 {
	display: none;
}

.feedback {
	border: none;
}

.body-day-color-red {
	background-color: none;
	color: red;
}

.body-day-color-green {
	background-color: none;
	color: green;
}

.body-day-color-blue {
	background-color: none;
	color: blue;
}
