.sign-in-panel {
    color: green;
}

.sign-in-line {
    margin: 0.3em 0;
}

.sign-in-label {
    display: inline-block;
    width: 40%;
    min-width: 20em;
    text-align: right;
    padding-right: 1em;
}

.sign-in-input {
    width: 40%;
}

.sign-in-button {
    position: relative;
    display: inline-block;
    left: 40%;
    text-align: left;
}

.create-user-panel {
    text-align: center;
}

.invalid-panel {
    text-align: center;
}

.invalid-text {
    display: inline-block;
    color: red;
    background-color: aliceblue;
    width: 60%;
    min-width: 50em;
    text-align: center;
}

.user-profile-buttons {
    display: inline-block;
    vertical-align: top;
}

.user-profile-buttons input {
    display: block;
}

.drop-for-upload {
    display: inline-block;
    vertical-align: top;
    background-color: lightblue;
    border: 2px solid aquamarine;
    padding: 3em;
    width: 10em;
    height: 5em;
}
  
.available-calendars, .calendar-categories, .saved-plans {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
}