.cell {
	display: inline-flex;
	vertical-align: top;
	width: 100px;
	height: 100px;
	border: 3px solid transparent;
}

.blue-cell {
	background-color: blue;
	color: white;
}

.cell-text {
	margin: auto auto;
}

.blue-cell.blue-text {
	background-color: lightblue;
	color: lightblue;
}

.cell.disabled-tile {
	background-color: lightblue;
	color: coral;
}

.cell.noun {
	border: 3px solid red;
}

.cell.adjective {
	border: 3px solid green;
}