.cell {
	display: inline-flex;
	vertical-align: top;
	width: 100px;
	height: 100px;
}

.blue-cell {
	background-color: blue;
	color: white;
}

.cell-text {
	margin: auto auto;
}

.blue-cell.blue-text {
	background-color: lightblue;
	color: lightblue;
}

.cell.disabled-tile {
	background-color: lightblue;
	color: coral;
}
