.negative::before {
  content: "("
}

.negative::after {
  content: ")"
}

.page {
	position: relative;
	height: 261mm;
	width: 185mm;
	break-after: page;
	margin: 0 auto;
}

.page-footer {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 135%;
}

@media print {
	._hr {
		display: none;
	}
}

